name: tests

on:
  push:
    branches:
    	- master

jobs:
  test:
  	defaults:
      run:
        working-directory: package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: dev
      - run: flutter pub get
      - run: flutter test
